<div class="rounded">
    <div class="container-fluid bg-light">
      <div class="row">
        <div class="col-6 col-lg-3 col-sm-4 col-xl-2"
             >

        </div>
      </div>
    </div>
  </div>

<!-- <div class="container-fluid">
    <div class="col">
        <p style="font-weight:bold" ng-bind-html-unsafe="csc(path)">
            Clients
        </p>
        <ul class="list-group" *ngFor="let client of clients">

            <li class="list-group-item">
                <a class="btn btn-outline-primary btn-sm" [routerLink]="" (click)="client.clicked = !client.clicked">
                     Client Name: {{client.name}}
                </a>
                <a *ngIf="client.clicked">
                    <app-clientCard >
                    </app-clientCard>
                </a>
            </li>

        </ul> -->
        <!-- <br>

        
        <p style="font-weight:bold" ng-bind-html-unsafe="csc(path)">
            Employees
        </p>
        <ul class="list-group" *ngFor="let emp of emps">
            <li class="list-group-item">
                <a class="btn btn-outline-primary btn-sm" [routerLink]="" (click)="emp.clicked = !emp.clicked">
                    Employee ID: {{emp.id}}, Employee Name: {{emp.name}}
                </a>
                <a *ngIf="emp.clicked">
                    <app-inter-card [emp]='emp'>
                    </app-inter-card>
                </a>
            </li>
        </ul> -->
    <!-- </div>
</div> -->